* {
    margin: 0;
}
nav {
    border: 1px solid #000;
}
.navbar-brand a {
    text-decoration: none;
}
h1 {
    font-size: 25px;  
}
h2 {
    font-size: 24px;
}
h4 {
    font-size: 20px;
}
ul li a {
    text-decoration: none;
}
  

